body {
  border: 20px solid rgb(165, 165, 165);
  margin: 20px auto;
  padding: 20px;
  font-family: sans-serif;
  max-width: 700px;
  width: 80%;
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.2rem;
  font-size: 14px;
}

h2 {
  text-transform: capitalize;
  color: #2c3e50;
  font-size: 2.0rem;
}

.first-paragraph {
  border-left: 5px solid rgb(192, 192, 192);
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
  margin-bottom: 20px;
}