div.findThis {
    color: darkcyan;
    font-size: 40px;
    font-weight: 800;
    background-color: lightblue;
}

span.findThis {
    color: darkcyan;
    font-size: 40px;
    font-weight: 800;
    background-color: lightgreen;
}